<table id="days">
  <thead>
    <tr>
      <th id="prev">&laquo;</th>
      <th id="title" colspan="5">2020/05</th>
      <th id="next">&raquo;</th>
    </tr> 
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  <tfoot>
    <tr>
      <td id="today" colspan="7">Today</td>
    </tr>
  </tfoot>
</table>
<br>
<div><h3>イベント登録</h3></div>
<%= form_for @event do |f| %>
  <div><p>イベント名</p></div>
  <%= f.text_field :name %>
  <div><p>詳細</p></div>
  <%= f.text_area :description %>

  <div><h3>日程</h3></div>
  <div id="select_days">
    <%= f.fields_for :schedules do |schedule_fields| %>
      
      <ul id="add_date_style">
        <li class = "date_input">
          <%= schedule_fields.date_field :savedate %>
        </li>
        <li class = "date_time"> 
          <%= schedule_fields.select :savetime, ['00:00~', '00:30~', '01:00~'], {include_blank: '選択'}, class: 'date_time' %>
        </li>
        <li id = "delete" >
          <p>削除</p>
        </li>
      </ul>
    <% end %>
   </div>
   <div><h3>店名</h3></div>
  <%= f.fields_for :shops do |shop_fields| %>
    <div><p>店名</p></div>
    <%= shop_fields.text_field :shop_name %>
    <div><p>店のURL</p></div>
    <%= shop_fields.text_field :shop_url %>
    <div><p>地図のURL</p></div>
    <%= shop_fields.text_field :map_url %>
    <div><p>コメント</p></div>
    <%= shop_fields.text_field :comment %>
  <% end %>
  
  <%= f.submit "Submit" %>
<% end %>