<table id="days">
  <thead>
    <tr>
      <th id="prev">&laquo;</th>
      <th id="title" colspan="5">2020/05</th>
      <th id="next">&raquo;</th>
    </tr> 
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  <tfoot>
    <tr>
      <td id="today" colspan="7">Today</td>
    </tr>
  </tfoot>
</table>
<br>
<div><h3>イベント登録</h3></div>
<div>
  <p>イベント名</p><%= @event.name %>
</div>
<div><p>詳細</p>
  <%= @event.description %>
</div>

<div><h3>日程</h3></div>
<div id="select_days">
  <% @event.schedules.each do |et| %>
    
    <ul id="add_date_style">
      <li class = "date_input">
        <%= et.savedate %>
      </li>
      <li class = "date_time"> 
        <%= et.savetime %>
      </li>
    </ul>
  <% end %>
  </div>
  <div><h3>店名</h3></div>
<% @event.shops.each do |es| %>
  <div><p>店名:</p>
    <%= es.shop_name %>
  </div>
  <div><p>店のURL:</p>
    <%= es.shop_url %>
  </div>
  <div><p>地図のURL:</p>
    <%= es.map_url %>
  </div>
  <div><p>コメント:</p>
    <%= es.comment %>
  </div>
<% end %>

<%= form_with model: @join, url:event_joins_path(@event.id), id:"join_form" , local: true do |f| %>
  <div>
    <label>ユーザー名</label>
  </div>
  <div class="join_users">
    <%= f.text_field :nickname, placeholder:"ニックネームを入力ください"%>
  </div>
  <%= f.fields_for :date_answers do |date_fields| %>
    <% @event.schedules.each do |et| %>
      <ul id="join_schedules">
        <li class="schedule_id">
          <%= date_fields.text_field :schedule_id, value: et.id %>
        </li>
        <li class="schedule_label">
          <%= et.savedate %>: <%= et.savetime %>
        </li>
        <li class="schedule_vote">
          <%= date_fields.text_field :status, id:"schedule_status", value: 3 %>
        </li>
      </ul>
    <% end %>
  <% end %>
  <%= f.fields_for :shop_answers do |shop_fields| %>
    <% @event.shops.each do |es| %>
      <ul id="join_shops">
        <li class = "shop_id">
          <%= shop_fields.text_field :shop_id, value: es.id %>
        </li>
        <li class="shop_label">
          <%= es.shop_name %> URL:<%= es.shop_url %>
        </li>
        <li>
          <%= shop_fields.text_field :status, id:"shops_status", value: 3 %>
        </li>
      </ul>
    <% end %>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>

