<h1>イベント詳細情報</h1>

<div>
  <p>イベント名: <%= @event.name %></p>
</div>
<div>
<p>詳細: <%= @event.description %></p>
</div>

<table>
  <thead>
    <tr>
      <th>
        <h4>日程</h4>
      </th>
      <% if @event.joins %>
        <% @event.joins.each do |event_join| %>
          <td>
            <%= link_to event_join.nickname %>
          </td>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% @event.schedules.each do |et| %>
    <tr id="select_days">
      <th id="add_date_style">
        <div>
          <%= et.savedate %>:<%= et.savetime %>
        </div>
      </th>
      <% if et.date_answer %>
        <% et.date_answer.each do |da| %>
          <td class = "date_time"> 
            <%= da.status %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
 <br>
 <br>
 <table>
  <thead>
    <tr>
      <th>
        <h4>お店</h4>
      </th>
      <% if @event.joins %>
        <% @event.joins.each do |event_join| %>
          <td>
            <%= link_to event_join.nickname %>
          </td>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% @event.shops.each do |es| %>
    <tr>
      <th>
        <div>
          <p>店名: <%= es.shop_name %></p>
        </div>
        <div>
          <p>店のURL: <%= es.shop_url %></p>
        </div>
        <div>
          <p>地図のURL: <%= es.map_url %></p>
        </div>
        <div>
          <p>コメント: <%= es.comment %></p> 
        </div>
      </th>
      <% if es.shop_answer %>
        <% es.shop_answer.each do |sa| %>
          <td class = "date_time"> 
            <%= sa.status %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= form_with model: @join, url:event_joins_path(@event.id), id:"join_form" , local: true do |f| %>
  <div>
    <label>ユーザー名</label>
  </div>
  <div class="join_users">
    <%= f.text_field :nickname, placeholder:"ニックネームを入力ください"%>
  </div>
  <label>Eメール</label>
  <div class="join_email">
    <%= f.text_field :email, placeholder:"emailを記入ください"%>
  </div>
  <%= f.fields_for :date_answers do |date_fields| %>
    <% @event.schedules.each do |et| %>
      <ul id="join_schedules">
        <li class="schedule_id">
          <%= date_fields.hidden_field :schedule_id, value: et.id %>
        </li>
        <li class="schedule_label">
          <%= et.savedate %>: <%= et.savetime %>
        </li>
        <li class="schedule_vote">
          <%= date_fields.hidden_field :status, id:"schedule_status", value: 3 %>
        </li>
      </ul>
    <% end %>
  <% end %>
  <%= f.fields_for :shop_answers do |shop_fields| %>
    <% @event.shops.each do |es| %>
      <ul id="join_shops">
        <li class = "shop_id">
          <%= shop_fields.hidden_field :shop_id, value: es.id %>
        </li>
        <li class="shop_label">
          <%= es.shop_name %> URL:<%= es.shop_url %>
        </li>
        <li>
          <%= shop_fields.hidden_field :status, id:"shops_status", value: 3 %>
        </li>
        <li>
          <%= shop_fields.hidden_field :vote, id:"shops_vote", value: 0 %>
        </li>
      </ul>
    <% end %>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>

