<h1>イベント詳細情報</h1>
<div>
  <p>イベント名: <%= @event.name %></p>
</div>
<div>
<p>詳細: <%= @event.description %></p>
</div>

<table>
  <thead>
    <tr>
      <th>
        <h4>日程</h4>
      </th>
      <% if @event.joins %>
        <% @event.joins.each do |event_join| %>
          <td>
            <%= link_to event_join.nickname, event_path(@event.id,join_id: event_join.id) %>
          </td>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% @event.schedules.each do |et| %>
    <tr id="select-days">
      <th id="add-date-style">
        <div>
          <span id="pass-savedate"><%= et.savedate %></span>:<span id="pass-savetime"><%= et.savetime %></span>
        </div>
      </th>
      <% if et.date_answer %>
        <% et.date_answer.each do |da| %>
          <td class = "date-time"> 
            <div class="date-letter-style">
            <%= da.status %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
 <br>
 <br>
 <table>
  <thead>
    <tr>
      <th>
        <h4>お店</h4>
      </th>
      <% if @event.joins %>
        <% @event.joins.each do |event_join| %>
          <td>
            <%= link_to event_join.nickname, event_path(@event.id,join_id: event_join.id) %>
          </td>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% @event.shops.each do |es| %>
    <tr>
      <th>
        <div>
          <span id="pass-shop-name">店名: <%= es.shop_name %></span>
        </div>
        <div>
          <span id="pass-shop-url">店のURL: <%= es.shop_url %></span>
        </div>
        <div>
          <span id="pass-map-url">地図のURL: <%= es.map_url %></span>
        </div>
        <div>
          <span id="pass-comment">コメント: <%= es.comment %></span> 
        </div>
      </th>
      <% if es.shop_answer %>
        <% es.shop_answer.each do |sa| %>
          <td class = "date-time"> 
            <%= sa.status %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<% unless params[:join_id] %>
  <div id="open">
    <h1>回答する</h1>
  </div>
  <%# 新規参加者の登録を行う %>
  <div id="mask" class="hidden">
    <section id="modal" class="hidden">
      <div id="close">
        閉じる
      </div>
      <%= form_with model: @join, url:event_joins_path(@event.id), id:"join-form" , local: true do |f| %>
        <div>
          <label>ユーザー名</label>
        </div>
        <div class="join-users">
          <%= f.text_field :nickname, placeholder:"ニックネームを入力ください"%>
        </div>
        <label>Eメール</label>
        <div class="join-email">
          <%= f.text_field :email, placeholder:"emailを記入ください"%>
        </div>
        <h1>日程選択</h1>
        <table>
          <tbody>
            
            <% @event.schedules.each do |et| %>
              <%= f.fields_for :date_answers do |date_fields| %>  
                <tr >
                  <th id="join-schedules">
                    <%= et.savedate %>: <%= et.savetime %>
                  </th>
                  <td class="schedule-vote">
                    <%= date_fields.hidden_field :schedule_id,class:"schedule-id", value: et.id %>
                    <%= date_fields.hidden_field :status, id:"schedule-status",class:"schedule-vote" %>
                    <div id="shop-change-status">
                    <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow " id="date-yes">◯</h1>
                    <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow choice" id="date-delta">△</h1>
                    <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow" id="date-no">×</h1>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <h1>店舗選択</h1>
        <table>
          <tbody> 
            <% @event.shops.each do |es| %>
              <%= f.fields_for :shop_answers do |shop_fields| %>
                <tr id="join-shops">
                  <th class="shop-label">
                    <%= es.shop_name %> URL:<%= es.shop_url %>
                  </th>
                  <td>
                    <%= shop_fields.hidden_field :shop_id,class:"shop-id", value: es.id %>
                    <%= shop_fields.hidden_field :status, id:"shops-status" %>
                    <%= shop_fields.hidden_field :vote, id:"shops-vote" %>
                    <div id="shop-change-status">
                      <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow " id="shop-yes">◯</h1>
                      <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow choice" id="shop-delta">△</h1>
                      <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow" id="shop-no">×</h1>
                    </div>
                    <div id="shop-change-vote">
                      <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow" id="shop-vote">一番</h1>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= f.submit "Submit" %>
      <% end %>
    </section>
  </div>
<% else %>
  <%= form_with model: @join, url:event_join_path(@event.id, @join.id), id:"join-edit-form" , local: true do |f| %>
    <div>
      <label>ユーザー名</label>
    </div>
    <div class="join-users">
      <%= f.text_field :nickname, placeholder:"ニックネームを入力ください"%>
    </div>
    <label>Eメール</label>
    <div class="join-email">
      <%= f.text_field :email, placeholder:"emailを記入ください"%>
    </div>
    <h1>日程選択</h1>
    <table>
      <tbody>
        <%= f.fields_for :date_answers, @join.date_answers do |date_edit_fields| %>  
          <tr >
            <th id="join-schedules">
              <span id="trans-savedate"></span>:<span id="trans-savetime"></span>
            </th>  
            <td class="schedule-vote">
              <%= date_edit_fields.hidden_field :id,class:"date-answers-id" %>
              <%= date_edit_fields.hidden_field :schedule_id,class:"schedule-edit-id" %>
              <%= date_edit_fields.hidden_field :status, id:"schedule-edit-status",class:"schedule-vote" %>
              <div id="shop-change-status">
                <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow " id="date-edit-yes">◯</h1>
                <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow choice" id="date-edit-delta">△</h1>
                <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow" id="date-edit-no">×</h1>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h1>店舗選択</h1>
    <table>
      <tbody> 
        <%= f.fields_for :shop_answers, @join.shop_answers do |shop_edit_fields| %>
          <tr id="join-shops">
            <th class="shop-label">
              <span id="trans-shop-name"></span><br>
              <span id="trans-shop-url"></span>
            </th>
            <td>
              <%= shop_edit_fields.hidden_field :id,class:"shop-answers-id" %>
              <%= shop_edit_fields.hidden_field :shop_id,class:"shop-edit-id" %>
              <%= shop_edit_fields.hidden_field :status, id:"shops-edit-status" %>
              <%= shop_edit_fields.hidden_field :vote, id:"shops-edit-vote" %>
              <div id="shop-change-status">
                <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow " id="shop-edit-yes">◯</h1>
                <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow choice" id="shop-edit-delta">△</h1>
                <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow" id="shop-edit-no">×</h1>
              </div>
              <div id="shop-change-vote">
                <h1 class="btn btn--orange btn--circle btn--circle-a btn--shadow" id="shop-edit-vote">一番</h1>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>