<table id="days">
  <thead>
    <tr>
      <th id="prev">&laquo;</th>
      <th id="title" colspan="5">2020/05</th>
      <th id="next">&raquo;</th>
    </tr> 
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  <tfoot>
    <tr>
      <td id="today" colspan="7">Today</td>
    </tr>
  </tfoot>
</table>
<br>
<div><h3>イベント登録</h3></div>
<div><p>イベント名</p></div>
<%= @event.name %>
<div><p>詳細</p></div>
<%= @event.description %>

<div><h3>日程</h3></div>
<div id="select_days">
  <% @event.schedules.each do |et| %>
    
    <ul id="add_date_style">
      <li class = "date_input">
        <%= et.savedate %>
      </li>
      <li class = "date_time"> 
        <%= et.savetime %>
      </li>
    </ul>
  <% end %>
  </div>
  <div><h3>店名</h3></div>
<% @event.shops.each do |es| %>
  <div><p>店名</p></div>
  <%= es.shop_name %>
  <div><p>店のURL</p></div>
  <%= es.shop_url %>
  <div><p>地図のURL</p></div>
  <%= es.map_url %>
  <div><p>コメント</p></div>
  <%= es.comment %>
<% end %>

